﻿@{
    ViewData["Title"] = "Painel Admin";
}

<div id="painel-admin" class="container-fluid">

    @* Aba de navegação entre Departamento, WBS e Funcionários *@

    <section class="mt-4">
        <p class="mb-4">Funcionalidade selecionada:</p>
        <nav>
            <div class="nav nav-tabs" role="tablist">
                <button class="aba-navegacao nav-link active" id="nav-departamentos-tab" data-bs-toggle="tab" data-bs-target="#nav-departamentos" role="tab">
                    Departamento
                </button>
                <button class="aba-navegacao nav-link" id="nav-wbs-tab" data-bs-toggle="tab" data-bs-target="#nav-wbs" role="tab">
                    WBS
                </button>
                <button class="aba-navegacao nav-link" id="nav-funcionario-tab" data-bs-toggle="tab" data-bs-target="#nav-funcionario" role="tab">
                    Funcionários
                </button>
            </div>
        </nav>
    </section>



    <div class="tab-content" id="nav-tabContent">

        @* Visualização das funcionalidades de Departamento *@
        <div class="tab-pane fade show active" id="nav-departamentos" role="tabpanel">
            <div class="container my-5 px-0">
                <div class="row">
                    <div class="col-md-9 col-12">
                        <h3 class="my-2">Buscar Departamento</h3>
                        <p class="mb-4">Busque um departamento por seu nome ou código</p>
                        <div class="row mt-3">
                            <div class="input mb-3 col-4 conteudo-input">
                                <input type="text" class="form-control" placeholder="Informe um nome ou código">
                            </div>
                            <div class="col-8">
                                <button type="button" class="btn botao-padrao">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 d-flex justify-content-end">
                        <div class="col-8 my-3 ">
                            <button type="button" class="btn botao-padrao" data-bs-toggle="modal" data-bs-target="#botao-cadastrar-departamentos">Cadastrar Departamento</button>
                        </div>
                    </div>
                </div>


                @* Tabela para exibir dados do Departamento *@

                <p class="mt-5 mb-2">Lista de Departamentos cadastrados:</p>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="cabeçalho-tabela">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Departamento</th>
                                <th scope="col" colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Tecnologia</td>
                                <td colspan="2" class="d-flex justify-content-end hstack gap-2">
                                    <button type="button" class="btn botao-padrao" data-bs-toggle="modal" data-bs-target="#botao-editar-departamentos">Editar</button>
                                    <button type="button" class="btn botao-excluir" data-bs-toggle="modal" data-bs-target="#botao-excluir-departamentos">Excluir</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Recursos Humanos</td>
                                <td colspan="2" class="d-flex justify-content-end hstack gap-2">
                                    <button type="button" class="btn botao-padrao">Editar</button>
                                    <button type="button" class="btn botao-excluir">Excluir</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Contabilidade</td>
                                <td colspan="2" class="d-flex justify-content-end hstack gap-2">
                                    <button type="button" class="btn botao-padrao">Editar</button>
                                    <button type="button" class="btn botao-excluir">Excluir</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @*
                FUNÇÃO CADASTRAR
                Modal de exibição após pressionar o botão cadastrar novo departamento
                *@

                <div class="modal fade" id="botao-cadastrar-departamentos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastrar Departamento</h1>
                            </div>
                            <div class="modal-body">
                                <label class="labels mb-2">Nome Departamento</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control conteudo-input" placeholder="Exemplo: Tecnologia">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn botao-cancelar" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn botao-padrao">Salvar alterações</button>
                            </div>
                        </div>
                    </div>
                </div>

                @*
                FUNÇÃO EDITAR
                Modal de exibição após pressionar 0 botão editar novo departamento
                *@

                <div class="modal fade" id="botao-editar-departamentos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Departamento</h1>
                            </div>
                            <div class="modal-body">
                                <label class="labels mb-2">Nome Departamento</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control conteudo-input" placeholder="Exemplo: Tecnologia">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn botao-cancelar" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn botao-padrao">Salvar alterações</button>
                            </div>
                        </div>
                    </div>
                </div>

                @*

                FUNÇÃO EXCLUIR
                Modal de exibição após pressionar o botão excluir de novo departamento *@

                <div class="modal fade" id="botao-excluir-departamentos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Excluir Departamento</h1>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger text-center fw-bold" role="alert">
                                    Atenção!
                                    <p class="fw-normal">Você deseja realmente excluir este departamento?</p>
                                </div>
                                <table class="table mt-5 table-striped ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Código</th>
                                            <th scope="col">Departamento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Tecnologia</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn botao-cancelar" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn botao-excluir">Confirmar e excluir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @* Visualização das funcionalidades de WBS *@

        <div class="tab-pane fade show" id="nav-wbs" role="tabpanel">
            <div class="container my-5 px-0">
                <div class="row">
                    <div class="col-md-9 col-12">
                        <h3 class="my-2">Buscar WBS</h3>
                        <p class="mb-4">Busque uma WBS por seu nome ou código</p>
                        <div class="row mt-3">
                            <div class="input mb-3 col-4">
                                <input type="text" class="form-control conteudo-input" placeholder="Informe um nome ou código">
                            </div>
                            <div class="col-8">
                                <button type="button" class="btn botao-padrao">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-8 d-flex justify-content-end">
                        <div class="col-8 my-3 ">
                            <button type="button" class="btn botao-padrao" data-bs-toggle="modal" data-bs-target="#botao-cadastrar-wbs">Cadastrar WBS</button>
                        </div>
                    </div>
                </div>

                @* Tabela para exibir dados da WBS *@

                <p class="mt-5 mb-2">Lista de WBS cadastradas:</p>

                <partial name="_ListaWBS" model="Model" />


                @*
                FUNÇÃO CADASTRAR
                Modal de exibição após pressionar o botão cadastrar nova WBS
                *@

                <div class="modal fade" id="botao-cadastrar-wbs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

                    <partial name="_CadastrarWBS" model="Model" />

                </div>

                @*
                FUNÇÃO EDITAR
                Modal de exibição após pressionar botão editar wbs
                *@

                <div class="modal fade" id="botao-editar-wbs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    
                    <partial name="_EditarWBS" model="Model" />

                </div>

                @*
                FUNÇÃO EXCLUIR
                Modal de exibição após pressionar o botão excluir WBS 
                *@

                <div class="modal fade" id="botao-excluir-wbs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    
                    <partial name="_ExcluirWBS" model="Model" />

                </div>
            </div>
        </div>

        @* VISUALIZAÇÃO DAS FUNCIONALIDADES DO FUNCIONÁRIO --------------------------- *@

        <div class="tab-pane fade show" id="nav-funcionario" role="tabpanel">
            <div class="container my-5 px-0">
                <div class="row">
                    <div class="col-md-9 col-12">
                        <h3 class="my-2">Buscar Funcionário</h3>
                        <p class="mb-4">Busque um funcionário por seu nome ou código</p>
                        <div class="row mt-3">
                            <div class="input mb-3 col-4">
                                <input type="text" class="form-control conteudo-input" placeholder="Informe um nome ou código">
                            </div>
                            <div class="col-8">
                                <button type="button" class="btn botao-padrao">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-8 d-flex justify-content-end">
                        <div class="col-8 my-3 ">
                            <button type="button" class="btn botao-padrao" data-bs-toggle="modal" data-bs-target="#botao-cadastrar-funcionarios">Cadastrar Funcionário</button>
                        </div>
                    </div>
                </div>

                @* Tabela para exibir dados do Funcionário *@

                <p class="mt-5 mb-2">Lista de Funcionários cadastrados:</p>

                <partial name="_ListaFuncionarios" />

                @*
                FUNÇÃO EXIBIR MAIS (SOMENTE PARA A TABELA DE FUNCIONÁRIO)
                Modal de exibição de informações cadastradas sobre o usuário, após pressionar o botão Ver mais
                *@

                <partial name="_VerMaisFuncionario" />
            
                @*
                FUNÇÃO CADASTRAR
                Modal de exibição após pressionar o botão cadastrar novo funcionário
                *@

                <partial name="_CadastrarFuncionario" />

                @*
                FUNÇÃO EDITAR
                Modal de exibição após pressionar botão editar funcionário
                *@

                <partial name="_EditarFuncionario" />

                @*
                FUNÇÃO EXCLUIR
                Modal de exibição após pressionar o botão excluir funcionário 
                *@

                <partial name="_ExcluirFuncionario" />

            </div>
         </div>
    </div>
</div>
