@* Modal de exibição após pressionar o botão cadastrar novo funcionário *@

<div class="modal fade" id="botao-cadastrar-funcionarios" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mb-3">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastrar Funcionário</h1>
            </div>
            <div class="modal-body modal-cadastrar-func">
                <label class="labels mb-2">Nome *</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control conteudo-input" placeholder="Exemplo: Maria">
                </div>
            </div>
            <div class="modal-body modal-cadastrar-func">
                <label class="labels mb-2">Sobrenome *</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control conteudo-input" placeholder="Exemplo: Santos">
                </div>
            </div>
            <div class="modal-body modal-cadastrar-func">
                <label class="labels mb-2">Data Nascimento *</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control conteudo-input" placeholder="Exemplo: 19/05/2000">
                </div>
            </div>
            <div class="modal-body modal-cadastrar-func">
                <label class="labels mb-2">Gênero</label>
                <div class="input-group mb-3">
                    <div class="form-check   input-radio-func">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="RadioOutro">
                        <label class="form-check-label" for="RadioFeminino">
                            Feminino
                        </label>
                    </div>
                    <div class="form-check  input-radio-func">
                        <input class="form-check-input" type="radio" name="flexRadioFunc" id="RadioOutro">
                        <label class="form-check-label" for="RadioMasculino">
                            Masculino
                        </label>
                    </div>
                    <div class="form-check  input-radio-func">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="RadioOutro">
                        <label class="form-check-label" for="RadioOutro">
                            Outro
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-body modal-cadastrar-func">
                <label class="labels mb-2">Data Admissão *</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control conteudo-input" placeholder="Exemplo: 01/04/2023">
                </div>
            </div>
            <div class="modal-body modal-cadastrar-func">
                <label class="labels mb-2">Carga Horária *</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control conteudo-input" placeholder="Exemplo: 8">
                </div>
            </div>
            <div class="modal-body modal-cadastrar-func">
                <label class="labels mb-2">Departamento *</label>
                <div class="input-group mb-3">
                    <select class="seletor-funcionario form-select form-select-sm form-control">
                        <option selected>Selecione um departamento</option>
                        <option value="Tecnologia">Tecnologia</option>
                        <option value="Recursos Humanos">Recursos Humanos</option>
                        <option value="Contabilidade">Contabilidade</option>
                    </select>
                </div>
            </div>
            <div class="modal-body modal-cadastrar-func">
                <label class="labels mb-2">Nível de Acesso *</label>
                <div class="input-group mb-3">
                    <select class="seletor-funcionario form-select form-select-sm form-control">
                        <option selected>Selecione um nível de acesso</option>
                        <option value="1 - Administrador">1 - Administrador</option>
                        <option value="2 - Gerente">2 - Gerente</option>
                        <option value="3 - Funcionário">3 - Funcionário</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn botao-cancelar" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn botao-padrao">Salvar alterações</button>
            </div>
        </div>
    </div>
</div>
