@* Modal de exibição após pressionar o botão excluir funcionário *@

<div class="modal fade" id="botao-excluir-funcionarios" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Excluir Funcionário</h1>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger text-center fw-bold" role="alert">
                    Atenção!
                    <p class="fw-normal">Você deseja realmente excluir este funcionário?</p>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead class="thead-cad-func">
                            <th colspan="2">Informações do Funcionário</th>
                        </thead>
                        <tbody class="tbody-cad-func">
                            <tr>
                                <th>Nome</th>
                                <td>Nome..</td>
                            </tr>
                            <tr>
                                <th>Sobrenome</th>
                                <td>Sobrenome...</td>
                            </tr>
                            <tr>
                                <th>Departamento</th>
                                <td>Departamento...</td>
                            </tr>
                            <tr>
                                <th>Data de Nascimento</th>
                                <td>Data de Nascimento...</td>
                            </tr>
                            <tr>
                                <th>Gênero</th>
                                <td>Gênero...</td>
                            </tr>
                            <tr>
                                <th>Carga Horária</th>
                                <td>Carga Horária...</td>
                            </tr>
                            <tr>
                                <th>Data da admissão</th>
                                <td>Data da admissão...</td>
                            </tr>
                            <tr>
                                <th>Data de desligamento</th>
                                <td>Data de desligamento...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn botao-cancelar" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn botao-excluir">Confirmar e excluir</button>
            </div>
        </div>
    </div>
</div>
