@model WBS;
@*
    FUNÇÃO EXCLUIR
    Modal de exibição após pressionar o botão excluir WBS
*@

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Excluir WBS</h1>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger text-center fw-bold" role="alert">
                Atenção!
                <p class="fw-normal">Você deseja realmente excluir esta wbs?</p>
            </div>
            <table class="table mt-5 table-striped ">
                <thead>
                    <tr>
                        <th scope="col">WBS</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Chargeability</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">A301929</th>
                        <td>Treinamento</td>
                        <td>Sim</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn botao-cancelar" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn botao-excluir">Confirmar e excluir</button>
        </div>
    </div>
</div>
