<nav class="navbar navbar-expand-sm navbar-toggleable-sm  bg-white border-bottom box-shadow">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-center">
                <a class="nav-link botao-navbar" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/xicara.svg" id="logo" class="ml-3 card-img-top" alt="...">
                    <span id="marca-preta-nav" class="align-middle">
                        My<span id="marca-laranja-nav">Tea</span>
                    </span>
                </a>

            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">  <i class="icone-hamburguer fa-solid fa-bars"></i></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 d-flex justify-content-end">

                <li class="nav-item">
                   
                    <a class="nav-link botao-navbar" asp-area="" asp-controller="Gerente" asp-action="Gerente">Dashboards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link botao-navbar" asp-area="" asp-controller="Funcionario" asp-action="Index">Funcionário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link botao-navbar" asp-area="" asp-controller="WBS" asp-action="Index">WBS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link botao-navbar" asp-area="" asp-controller="Departamento" asp-action="Index">Departamento</a>
                </li>               
                <li class="nav-item">
                    <a class="nav-link botao-navbar" asp-area="" asp-controller="Login" asp-action="Login">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>