@* Partial View de exibição de navbar *@

<partial name="_Navbar" model="Model" />﻿

<div class="container">
    <div class="row">
        <iframe title="MyTea" width="1140" height="541.25" src="
                            https://app.powerbi.com/reportEmbed?reportId=5104b68d-f29a-4325-9884-df16408e402c&autoAuth=true&ctid=cf36141c-ddd7-45a7-b073-111f66d0b30c"
                frameborder="0" allowFullScreen="true">
        </iframe>
    </div>   
</div>