
@section Styles {
   <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <div class="row">
        <section id="conteudo-form-login" class="col-lg-6 col-md-12 d-flex align-items-center">
            <div id=formulario-login class ="card">
                <div class="card-body">
                    <div class="row">
                        <div class="d-flex justify-content-center mt-4 mb-4">
                            <img src="~/img/xicara.svg" id="logo-form-login" class="ml-3 card-img-top" alt="...">
                            <span id="marca-preta" class="align-middle">
                                My<span id="marca-laranja">Tea</span>
                            </span>
                        </div>                        
                    </div>
                    <div class="form">
                        <p id="titulo-form-login" class="card-title mb-4 mt-3 text-center">Faça o seu login</p>

                        <label class="labels mb-2">E-mail</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control conteudo-input" placeholder="Exemplo: email@email.com" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <label class="labels mb-2">Senha</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control conteudo-input" placeholder="Exemplo: Admin123@m" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <form asp-controller="Home" asp-action="Index">
                        <div id="botao-login" class="d-flex justify-content-center">
                            <button class="btn botao-padrao">Enviar</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </section>
        <section id="conteudo-imagens-login" class="col-lg-6 col-md-12 d-flex align-items-center">
            <div class="row">
                <div class="col-7 relaxe">
                    <p id="relaxe">Relaxe... </p>
                </div>
                <div class="col-5">
                    <iframe id="animacao" src="https://lottie.host/embed/a713a27f-e373-4876-a53c-724de144a8f8/a8fu06TZxX.json"></iframe>
                </div>
            </div>
            <div class="mb-3">
                <p id="declare">Declare as suas horas.</p>
                <p>A gente cuida do restante.</p>
            </div>
            <div class="row">
                <div id="imagem-login">
                    <img src="~/img/imagem_login.svg" class="card-img-top align-self-center" alt="Fotografia de uma mulher sorrindo, sentada, apoiando os braços em uma mesa. Ela segura uma xícara enquanto olha para um notebook posicionado em sua frente, e em cima da mesa">
                </div>
            </div>
        </section>
    </div>
</div>
   