@model Quinzenas 

<form method="post">
    <p>
        <label asp-for="Id_Quinzena">Id_Quinzena</label>
        <input asp-for="Id_Quinzena" />
        <span></span>
    </p>
    <p>
        <label asp-for="Descricao">Descrição</label>
        <input asp-for="Descricao" />
        <span></span>
    </p>
    <p>
        <label asp-for="Quinzena">Quinzena</label>
        <input asp-for="Quinzena" />
        <span></span>
    </p>
    <p>
        <button type="submit">Cadastrar</button>
    </p>
</form>