@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

@model Horas    

@{
    ViewData["Title"] = "Tela Inicial";
}


@* Partial View de exibição de navbar *@

<partial name="_Navbar" model="Model" />


<h1>@ViewData["Home"]</h1>

<div class="container">
        

    @using (Html.BeginForm("CalcularHoras", "Home", FormMethod.Post))
    {
    <form method="post">

        <div class="row">


                <p class="col-md-8 col-12 d-flex justify-content-md-start justify-content-center mt-5" id="saudacao-usuario">Olá, Natália</p>
                <div class="col-md-2 col-12 d-flex justify-content-md-end justify-content-center mt-5">
                    <button class="btn navegacao-calendario"><i class="fa-solid fa-caret-left"></i></button>

                    @* Implementação para calendário dinâmico *@
                    @*
                <select id="calendario">

                @foreach (Quinzenas registro in Model)
                {
                <option value=>@registro.Quinzena</option>
                }

                </select>
                *@

                    @* Calendário estático *@
                    <select id="calendario">
                        <option value="1">01/04/24</option>
                        <option value="2">15/04/24</option>
                        <option value="3">01/05/24</option>
                        <option value="4">15/05/24</option>
                    </select>

                    <button class="btn navegacao-calendario"><i class="fa-solid fa-caret-right"></i></button>

                </div>


                <div class="col-md-2 col-12 d-flex justify-content-md-end justify-content-center mt-5">
                    <button class="btn botao-padrao" type="submit">Enviar Relatório</button>
                </div>
        </div>
        

            @if (Model.MensagemErroHorasQuinz)
            {
                <div class="alert alert-danger mt-5" role="alert">
                    <p>Não foi possível enviar o seu relatório de horas!</p>
                    <p>Você não cumpriu a carga horária proposta na quinzena</p>
                </div>
            }

            @if (Model.MensagemErroHorasDia)
            {
                <div class="alert alert-danger mt-5" role="alert">
                    <p>Não foi possível enviar o seu relatório de horas!</p>
                    <p>Você não cumpriu a carga horária diária</p>
                </div>
            }

        <div class="table-responsive" id="tabela-home">
            <table class="table table-hover mt-5">
                <thead id="cabecalho-tabela-home">
                    <tr>
                        <th scope="col" colspan="4">WBS</th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Qua</p>
                            <p class="m-0 text-center">1</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Qui</p>
                            <p class="m-0 text-center">2</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Sex</p>
                            <p class="m-0 text-center">3</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Sab</p>
                            <p class="m-0 text-center">4</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Dom</p>
                            <p class="m-0 text-center">5</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Seg</p>
                            <p class="m-0 text-center">6</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Ter</p>
                            <p class="m-0 text-center">7</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Qua</p>
                            <p class="m-0 text-center">8</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Qui</p>
                            <p class="m-0 text-center">9</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Sex</p>
                            <p class="m-0 text-center">10</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Sab</p>
                            <p class="m-0 text-center">11</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Dom</p>
                            <p class="m-0 text-center">12</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Seg</p>
                            <p class="m-0 text-center">13</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Ter</p>
                            <p class="m-0 text-center">14</p>
                        </th>
                        <th scope="col d-flex justify-content-center">
                            <p class="m-0 text-center">Qua</p>
                            <p class="m-0 text-center">15</p>
                        </th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" colspan="4" class="linha-seletor">
                            <p>
                                <select class="seletor-wbs">
                                    <option value="WBS0911009">WBS0911009 - Férias</option>
                                    <option value="WBS0911008">WBS0911008 - Day-off</option>
                                    <option value="WBS0911007">WBS0911007 - Sem tarefa</option>
                                    <option value="WBS0911006">WBS0911006 - Implementação e desenvolvimento</option>
                                </select>
                            </p>
                        </th>


                        <td class="m-0 text-center"></td>
                        <td class="m-0 text-center"> <input type="text" asp-for="Dia_Um" name="valor1" class="form-control input-horas" /></td>
                        <td class="m-0 text-center"> <input type="text" asp-for="Dia_Dois" name="valor2" class="form-control input-horas" /></td>
                        <td class="m-0 text-center"></td>
                        <td class="m-0 text-center"> </td>
                        <td class="m-0 text-center"> <input asp-for="Dia_Quatro" type="text"  class="form-control input-horas" /></td>
                        <td class="m-0 text-center"> <input asp-for="Dia_Cinco" type="text" class="form-control input-horas" /></td>
                        <td class="m-0 text-center"> <input asp-for="Dia_Seis" type="text" class="form-control input-horas" /></td>
                        <td class="m-0 text-center"> <input asp-for="Dia_Sete" type="text" class="form-control input-horas" /></td>
                        <td class="m-0 text-center"> <input asp-for="Dia_Oito" type="text" class="form-control input-horas" /></td>
                        <td class="m-0 text-center"></td>
                        <td class="m-0 text-center"></td>
                        <td class="m-0 text-center"> <input asp-for="Dia_Nove" type="text" class="form-control input-horas" /></td>
                        <td class="m-0 text-center"> <input asp-for="Dia_Dez" type="text" class="form-control input-horas" /></td>
                        <td class="m-0 text-center"> <input asp-for="Dia_Onze" type="text" class="form-control input-horas" /></td>
                        <td class="m-0 text-center"></td>
                    </tr>

                    @*Segunda linha da tabela *@


                         <tr>
                            <th scope="row" colspan="4" class="linha-seletor">
                                <p>
                                    @*
                                <select class="seletor-wbs">
                                <option value="WBS0911009">WBS0911009 - Férias</option>
                                <option value="WBS0911008">WBS0911008 - Day-off</option>
                                <option value="WBS0911007">WBS0911007 - Sem tarefa</option>
                                <option value="WBS0911006">WBS0911006 - Implementação e desenvolvimento</option>
                                </select>
                                    *@                                    
                                </p>
                            </th>


                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> <input type="text"  class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text"  class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> </td>
                            <td class="m-0 text-center"> <input  type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input  type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input  type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input  type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input  type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> <input  type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input  type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input  type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                        </tr>


                        @*Terceira linha da tabela *@


                        <tr>
                            <th scope="row" colspan="4" class="linha-seletor">
                                <p>
                                    @*
                                <select class="seletor-wbs">
                                <option value="WBS0911009">WBS0911009 - Férias</option>
                                <option value="WBS0911008">WBS0911008 - Day-off</option>
                                <option value="WBS0911007">WBS0911007 - Sem tarefa</option>
                                <option value="WBS0911006">WBS0911006 - Implementação e desenvolvimento</option>
                                </select>
                                *@
                                </p>
                            </th>


                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> </td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                        </tr>

                        @*Quarta linha da tabela *@


                        <tr>
                            <th scope="row" colspan="4" class="linha-seletor">
                                <p>
                                    @*
                                <select class="seletor-wbs">
                                <option value="WBS0911009">WBS0911009 - Férias</option>
                                <option value="WBS0911008">WBS0911008 - Day-off</option>
                                <option value="WBS0911007">WBS0911007 - Sem tarefa</option>
                                <option value="WBS0911006">WBS0911006 - Implementação e desenvolvimento</option>
                                </select>
                                *@
                                </p>
                            </th>


                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> </td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                        </tr>

                        @*Quinta linha da tabela *@


                        <tr>
                            <th scope="row" colspan="4" class="linha-seletor">
                                <p>
                                    @*
                                <select class="seletor-wbs">
                                <option value="WBS0911009">WBS0911009 - Férias</option>
                                <option value="WBS0911008">WBS0911008 - Day-off</option>
                                <option value="WBS0911007">WBS0911007 - Sem tarefa</option>
                                <option value="WBS0911006">WBS0911006 - Implementação e desenvolvimento</option>
                                </select>
                                *@
                                </p>
                            </th>


                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> </td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input type="text" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                        </tr>

                    @* Condicional para exibição de linha adicional na Tabela 
                    @if (Model.LinhaAdicionalTabela)
                    {
                        <div>
                        <tr>
                            <th scope="row" colspan="4" class="linha-seletor">
                                <p>
                                    <select class="seletor-wbs">
                                        <option value="WBS0911009">WBS0911009 - Férias</option>
                                        <option value="WBS0911008">WBS0911008 - Day-off</option>
                                        <option value="WBS0911007">WBS0911007 - Sem tarefa</option>
                                        <option value="WBS0911006">WBS0911006 - Implementação e desenvolvimento</option>
                                    </select>
                                </p>
                            </th>


                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> <input asp-for="Dia_Dois" type="number" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input asp-for="Dia_Tres" type="number" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> </td>
                            <td class="m-0 text-center"> <input asp-for="Dia_Quatro" type="number" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input asp-for="Dia_Cinco" type="number" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input asp-for="Dia_Seis" type="number" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input asp-for="Dia_Sete" type="number" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input asp-for="Dia_Oito" type="number" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"> <input asp-for="Dia_Nove" type="number" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input asp-for="Dia_Dez" type="number" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"> <input asp-for="Dia_Onze" type="number" class="form-control input-horas" /></td>
                            <td class="m-0 text-center"></td>
                        </tr>
                        </div>
                    }
                    *@

                    @* Condicional para exibição de linha de feriado na Tabela *@
                    @if (Model.Feriado)
                    {
                        <div>
                        <tr>
                            <th scope="row" colspan="4">
                                Feriado
                            </th>
                            <td class="m-0 text-center">8</td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center"></td>
                            <td class="m-0 text-center">8</td>
                            </tr>
                        </div>
                    }
                                           
                    <tr>
                        <th scope="row" colspan="4">
                            Escala de trabalho
                        </th>
                        <td class="m-0 text-center">8</td>
                        <td class="m-0 text-center">8</td>
                        <td class="m-0 text-center">8</td>
                        <td class="m-0 text-center"></td>
                        <td class="m-0 text-center"></td>
                        <td class="m-0 text-center">8</td>
                        <td class="m-0 text-center">8</td>
                        <td class="m-0 text-center">8</td>
                        <td class="m-0 text-center">8</td>
                        <td class="m-0 text-center">8</td>
                        <td class="m-0 text-center"></td>
                        <td class="m-0 text-center"></td>
                        <td class="m-0 text-center">8</td>
                        <td class="m-0 text-center">8</td>
                        <td class="m-0 text-center">8</td>
                        <td class="m-0 text-center">88</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    }
</div>




