/* View Home */

#calendario {
    cursor: pointer;
    color: var(--primaria);
    font-weight: 600;
    padding: 0px 20px 0px 5px;
    border-radius: 5px;
    border: 2px solid var(--cinza-claro);
}

    #calendario:focus {
        border: 2px solid var(--primaria-clara);
    }

#saudacao-usuario {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.fa-solid:hover {
    color: var(--primaria-clara);
}

.navegacao-calendario {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    color: var(--primaria);
    font-weight: 900;
}

    .navegacao-calendario:focus {
        border: 1px solid var(--primaria);
        box-shadow: 0 0 0 0.1rem var(--primaria-clara);
        background-color: white;
    }

    .navegacao-calendario:active:focus {
        border: 1px solid var(--primaria);
        box-shadow: 0 0 0 0.1rem var(--primaria-clara);
    }


#tabela-home {
    font-size: 12px;
}

#cabecalho-tabela-home {
    background-color: var(--primaria-escura);
}

.seletor-wbs {
    background-color: transparent;
    border: none;
    font-weight: 600;
    color: var(--primaria);
    cursor: pointer;
}

.input-horas {
    font-size: 12px;
    width: 35px;
    background-color: transparent;
    border: none;
}
