
/* Estilos globais */

body {
    /* Variáveis de paleta de cores */
    --primaria-escura: #c26716;
    --primaria: #DD761C;
    --primaria-clara: #FDE49E;
    --secundaria: #6DC5D1;
    --branco-padrao: #F3F5F9;
    --preto-padrao: #0A0708;
    --vermelho-padrao: #C85250;
    --vermelho-escuro: #a84543;
    --vermelho-claro: #f3625f;
    --cinza-claro: #0000000d;
    --cinza: #747474;
    --cinza-escuro: #575454;

    background-color: var(--branco-padrao);
}

p{
    margin: 0;
}

/* Estilos globais de botões */

/* Botão rincipal */
.botao-padrao {
    background-color: var(--primaria);
    color: var(--branco-padrao);
    font-weight: 600;
}

    .botao-padrao:hover {
        background-color: var(--primaria-escura);
        color: var(--branco-padrao);
    }

    .botao-padrao:active:focus {
        box-shadow: 0 0 0 0.1rem var(--primaria-clara);
        border: 1px solid var(--primaria-clara);
    }


    .botao-padrao:focus {
        box-shadow: 0 0 0 0.1rem var(--primaria-clara);
        border: 1px solid var(--primaria-clara);
    }

/* Botão Excluir */
.botao-excluir {
    background-color: var(--vermelho-padrao);
    color: var(--branco-padrao);
    font-weight: 600;
}

    .botao-excluir:hover {
        background-color: var(--vermelho-escuro);
        color: var(--branco-padrao);
        font-weight: 600;
    }

    .botao-excluir:active:focus {
        box-shadow: 0 0 0 0.1rem var(--vermelho-claro);
        border: 1px solid var(--vermelho-claro);
    }

    .botao-excluir:focus {
        box-shadow: 0 0 0 0.1rem var(--vermelho-claro);
        border: 1px solid var(--vermelho-claro);
    }


/* Botão Cancelar */
.botao-cancelar {
    background-color: var(--cinza);
    color: var(--branco-padrao);
    font-weight: 600;
}

    .botao-cancelar:hover {
        background-color: var(--cinza-escuro);
        color: var(--branco-padrao);
        font-weight: 600;
    }

    .botao-cancelar:focus {
        box-shadow: 0 0 0 0.1rem var(--cinza);
        border: 1px solid var(--cinza);
    }

    .botao-cancelar:active:focus {
        box-shadow: 0 0 0 0.1rem var(--cinza);
        border: 1px solid var(--cinza);
    }

/* Estilos globais para os formulários */
.btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem var(--primaria-clara);
    border: 1px solid var(--primaria-clara);
}

.labels {
    font-size: 14px;
    font-weight: 500;
    color: var(--cinza);
}

.conteudo-input {
    font-size: 12px;
    border-radius: 20px;
    height: 40px;    
}

/* Estilos globais para as tabelas */

thead {
    background-color: var(--preto-padrao);
    color: var(--branco-padrao);
}


/* View de Login */
/* Seção de formulário de login */
#conteudo-form-login {
    background-color: #D5FAFF;
    flex-direction: column;
    padding-bottom: 20px;
    height: 100vh;
}

#formulario-login {
    width: 25rem;
    height: 30rem;
    margin-top: 3rem;
    padding: 1rem 2rem;
    border-radius: 20px;
}

#logo-form-login {
    width: 60px;
}

#marca-preta {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--preto-padrao);
    font-size: 28px;
    margin-left: 10px;   
}

#marca-laranja {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--primaria);
    font-size: 28px;
}

#titulo-form-login {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

#botao-login {
    margin-top: 40px;
}

/* View de Login */
/* Seção de imagem e animação */

#conteudo-imagens-login {
    background-color: rgba(109,197,209,0.7);
    flex-direction: column;
    color: var(--branco-padrao);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    padding-bottom: 20px;
}

#relaxe {
    color: var(--branco-padrao);   
    padding: 65px 0px 0px 80px;
    font-weight: 900;
    font-size: 30px;
}

#animacao {
    width: 100px;
}

#declare{
    font-size: 20px;
}

#imagem-login {
    max-width: 350px;
}


/* View Home */

#tabela-home {
    font-size: 12px;
}

.navegacao-calendario {
    margin: 0px 10px 0px 10px;
    cursor:pointer;
    color: var(--primaria);
    font-weight: 900;
}

    .navegacao-calendario:focus {
        border: 1px solid var(--primaria);
        box-shadow: 0 0 0 0.1rem var(--primaria-clara);
        background-color: white;
    }

    .navegacao-calendario:active:focus {
        border: 1px solid var(--primaria);
        box-shadow: 0 0 0 0.1rem var(--primaria-clara);
    }

.seletor-wbs {
    font-size: 12px;
}

.input-horas {
    font-size: 12px;
    width: 35px;
    background-color: transparent;
    border: none;
}

#cabecalho-tabela-home {
    background-color: var(--primaria);
}

/* View de Painel Admin */
.aba-navegacao {
    color: var(--preto-padrao);
}

.nav-tabs {
    border-bottom: 1px solid var(--cinza-claro);    
}

.nav-tabs :hover{
    background-color: var(--primaria-escura);
    color: var(--branco-padrao);
    font-weight: 600; 
}


    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: var(--branco-padrao);
        font-weight: 600; 
        background-color: var(--primaria);
        border-bottom: 1px solid var(--primaria-clara);
        
    }

/* Painel Admin - Cadastrar Funcionário */

.modal-cadastrar-func {
    padding: 0 20px 0 20px;
}