
/* Estilos globais */

body {
    /* Variáveis de paleta de cores */
    --primaria-escura: #c26716;
    --primaria: #DD761C;
    --primaria-clara: #FDE49E;
    --secundaria: #6DC5D1;
    --branco-padrao: #F3F5F9;
    --preto-padrao: #0A0708;
    --vermelho-padrao: #C85250;
    --vermelho-escuro: #a84543;
    --vermelho-claro: #f3625f;
    --cinza-claro: #0000000d;
    --cinza: #747474;
    --cinza-escuro: #575454;

    background-color: var(--branco-padrao);
}

p{
    margin: 0;
}


/* Estilo navbar */

.botao-navbar {
    color: var(--primaria);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

    .botao-navbar:hover {
        cursor: pointer;
        color: var(--primaria-escura);
    }

#logo {
    width: 25px;
}

#marca-preta-nav {
    color: var(--preto-padrao);
    margin-left: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

#marca-laranja-nav {
    font-size: 15px;
    color: var(--primaria);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.icone-hamburguer {
    color: white;
    margin-top: 5px;
}


/* Estilos globais de botões */

/* Botão principal */
.botao-padrao {
    background-color: var(--primaria);
    color: var(--branco-padrao);
    font-weight: 600;
}

    .botao-padrao:hover {
        background-color: var(--primaria-escura);
        color: var(--branco-padrao);
    }

    .botao-padrao:active:focus {
        box-shadow: 0 0 0 0.1rem var(--primaria-clara);
        border: 1px solid var(--primaria-clara);
    }


    .botao-padrao:focus {
        box-shadow: 0 0 0 0.1rem var(--primaria-clara);
        border: 1px solid var(--primaria-clara);
    }

/* Botão Excluir */
.botao-excluir {
    background-color: var(--vermelho-padrao);
    color: var(--branco-padrao);
    font-weight: 600;
}

    .botao-excluir:hover {
        background-color: var(--vermelho-escuro);
        color: var(--branco-padrao);
        font-weight: 600;
    }

    .botao-excluir:active:focus {
        box-shadow: 0 0 0 0.1rem var(--vermelho-claro);
        border: 1px solid var(--vermelho-claro);
    }

    .botao-excluir:focus {
        box-shadow: 0 0 0 0.1rem var(--vermelho-claro);
        border: 1px solid var(--vermelho-claro);
    }


/* Botão Cancelar */
.botao-cancelar {
    background-color: var(--cinza);
    color: var(--branco-padrao);
    font-weight: 600;
}

    .botao-cancelar:hover {
        background-color: var(--cinza-escuro);
        color: var(--branco-padrao);
        font-weight: 600;
    }

    .botao-cancelar:focus {
        box-shadow: 0 0 0 0.1rem var(--cinza);
        border: 1px solid var(--cinza);
    }

    .botao-cancelar:active:focus {
        box-shadow: 0 0 0 0.1rem var(--cinza);
        border: 1px solid var(--cinza);
    }

/* Estilos globais para os formulários */
.btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem var(--primaria-clara);
    border: 1px solid var(--primaria-clara);
}

.labels {
    font-size: 14px;
    font-weight: 500;
    color: var(--cinza);
    padding-left: 10px;
}

.conteudo-input {
    font-size: 12px;
    border-radius: 20px;
    height: 40px;   
    color: var(--cinza-escuro);
}

/* Estilos globais para as tabelas */

thead {
    background-color: var(--primaria);
    color: var(--branco-padrao);
}

td, tr {
    vertical-align: middle;
}


/*cabeçalhos tela do Painel Admin*/
#cabeçalho-tabela {
    background-color: var(--primaria);
}

/* View de Painel Admin */
.aba-navegacao {
    color: var(--preto-padrao);
}

.nav-tabs {
    border-bottom: 1px solid var(--cinza-claro);    
}

.nav-tabs :hover{
    background-color: var(--primaria-escura);
    color: var(--branco-padrao);
    font-weight: 600; 
}


    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: var(--branco-padrao);
        font-weight: 600; 
        background-color: var(--primaria);
        border-bottom: 1px solid var(--primaria-clara);
        
    }

.navbar-toggler {
    background-color: var(--primaria-escura);
}

    .navbar-toggler:focus {
        background-color: var(--primaria);
        border: none;
        outline:none;
    }

/* Painel Admin - Cadastrar Funcionário */
.modal-cadastrar-func {
    padding: 0 20px 0 20px;
}

.modal-title {
    color: var(--primaria);
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 5px;
}

/*tabelas*/
.thead-cad-func {
    background-color: var(--branco-padrao);
    color: var(--preto-padrao);
    text-align: center
}

.tbody-cad-func {
    font-size: 13px;
}

/*select - "dropdown"*/
.seletor-funcionario {
    height: 40px;
    font-size: 12px;
    border-radius: 20px;
    color: var(--cinza);
}

.btn-close {
    height: 10px;
}

/*Titulo Views CRUD*/
.titulo-view-crud {
    color: var(--primaria);
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

/* Painel Admin - Cadastrar WBS */
.form-check-input:checked {
    background-color: var(--cinza);
}
#label-radio {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;
    color: var(--cinza);
}