@*
   estabelecer relação entre model e view
*@

@model Funcionario

@{
    ViewData["Title"] = "Criar registros de Funcionários";
}

<form method="post">
    <div class="container">
        <h1 class="titulo-view-crud" id="staticBackdropLabel">Ver Mais Funcionário</h1>
        <form asp-action="VerMaisFunc" method="post">
        <div class="modal-body modal-cadastrar-func ">
                <label asp-for="Func_Id" class="labels mb-2">Código:</label>
            <div class="input-group mb-3">
                <input readonly asp-for="Func_Id" type="text" class="form-control conteudo-input input-func">
            </div>
        </div>

        <div class="modal-body modal-cadastrar-func">
            <label asp-for="Func_Nome" class="labels mb-2">Nome:</label>
            <div class="input-group mb-3">
                <input readonly asp-for="Func_Nome" type="text" class="form-control conteudo-input input-func">
            </div>
        </div>

        <div class="modal-body modal-cadastrar-func">
            <label asp-for="Func_Sobrenome" class="labels mb-2">Sobrenome:</label>
            <div class="input-group mb-3">
                <input readonly asp-for="Func_Sobrenome" type="text" class="form-control conteudo-input input-func">
            </div>
        </div>

        <div class="modal-body modal-cadastrar-func">
            <label asp-for="Func_Gen" class="labels mb-2">Gênero:</label>
            <div class="input-group mb-3">
                <input readonly asp-for="Func_Gen" type="text" class="form-control conteudo-input input-func">
            </div>
        </div>

        <div class="modal-body modal-cadastrar-func">
            <label asp-for="Func_DtAdm" class="labels mb-2">Data de Admissão: </label>
            <div class="input-group mb-3">
                <input readonly asp-for="Func_DtAdm" type="date" class="form-control conteudo-input input-func">
            </div>
        </div>

        <div class="modal-body modal-cadastrar-func">
            <label asp-for="Func_CH_Est" class="labels mb-2">Carga Horária: </label>
            <div class="input-group mb-3">
                <input readonly asp-for="Func_CH_Est" type="text" class="form-control conteudo-input input-func">
            </div>
        </div>

        <div class="modal-body modal-cadastrar-func">
            <label asp-for="Depto_Nome" class="labels mb-2">Departamento: </label>
            <div class="input-group mb-3">
                <input readonly asp-for="Depto_Nome" type="text" class="form-control conteudo-input input-func">
            </div>
        </div>

        <div class="modal-body modal-cadastrar-func">
            <label asp-for="NAcesso_Id" class="labels mb-2">Nível de Acesso: </label>
            <div class="input-group mb-3">
                <input readonly asp-for="NAcesso_Id" type="text" class="form-control conteudo-input input-func">
            </div>
        </div>

        <div class="modal-footer">
            <button asp-area="" asp-controller="Funcionario" asp-action="Index" type="submit" class="btn botao-cancelar">Cancelar</button>
        </div>
        </form>
    </div>

</form>